.button
  padding 16px 40px
  margin 0
  font-family "Montserrat Medium", serif, Arial
  font-size 16px
  line-height 24px
  text-align center
  color #ffffff
  background-color #FF0000
  display inline-block
  box-sizing border-box
  border-radius 4px
  transition background-color 0.3s ease

  &:hover
    background-color #D70000
