.main-content
  max-width 320px
  padding-left 16px
  padding-right 16px
  padding-top 80px
  margin 0 auto
  box-sizing border-box

  & h3
    padding 0
    margin 0
    margin-bottom 32px
    font-family "Montserrat Semibold"
    font-size 32px
    line-height 40px
    text-align center

.main-content__configs
  padding-bottom 80px