.main-header
  min-width 320px
  background linear-gradient(180deg, #2F4966 0%, #34557C 100%)

.main-header__wrapper
  max-width 320px
  padding-top 40px
  padding-left 16px
  padding-right 16px
  padding-bottom 164px
  margin 0 auto
  box-sizing border-box