.main-header
  min-width 320px
  margin-bottom 80px
  background linear-gradient(180deg, #2F3F66 0%, #314579 100%)
  position relative
  transition background 0.6s

.main-header__wrapper
  max-width 320px
  min-height 568px
  padding-top 40px
  padding-left 16px
  padding-right 16px
  margin 0 auto
  box-sizing border-box

@media (min-width: desktop)
  .main-header
    margin-bottom 120px

  .main-header__wrapper
    max-width 1168px
    min-height 600px