.navigation
  padding-right 12px
  margin-bottom 56px
  display flex

.navigation__link
  transition opacity 0.3s ease

  &:hover
    opacity 0.6

.navigation__phone
  margin-left auto
  transition opacity 0.3s ease

  & p
    display none

  &:hover
    opacity 0.6

@media (min-width: desktop)
  .navigation
    padding-right 0

  .navigation__phone
    display flex
    align-items center

    & p {
      padding 0
      margin 0
      font-family "Roboto Regular", sans-serif, Arial
      font-size 16px
      color #ffffff
      display block
    }

  .navigation__phone-icon
    margin-right 16px