.navigation
  padding-right 12px
  margin-bottom 56px
  display flex

.navigation__link
  transition opacity 0.3s ease

  &:hover
    opacity 0.6

.navigation__phone
  margin-left auto
  transition opacity 0.3s ease

  & p
    display none

  &:hover
    opacity 0.6