.slider
  margin-bottom 32px

.slider__item
  display none

  &--current
    display block

  & h2
    padding 0
    margin 0
    font-family "Montserrat Semibold"
    font-size 32px
    line-height 40px
    color #ffffff
    text-align left

  & p
    display none